<div class="instant-search-modes__container">
  <ComboBox
    class="instant-search-modes__input"
    @valueProperty="value"
    @content={{this.searchModes}}
    @value={{this.searchMode}}
  />
</div>
{{#if (eq this.searchType "topics")}}
  <SearchContainer
    @apiData={{this.apiData}}
    @instantSearch={{this.instantSearch}}
    @searchType={{this.searchType}}
    @searchParameters={{this.searchParameters}}
    @updateQuery={{this.updateQuery}}
    @query={{this.query}}
    @searchMode={{this.searchMode}}
  >
    <:sortBy>
      <ComboBox
        class="search-types"
        @valueProperty="value"
        @content={{this.searchTypes}}
        @value={{this.searchType}}
      />
    </:sortBy>
  </SearchContainer>
{{else if (eq this.searchType "posts")}}
  <SearchContainer
    @apiData={{this.apiData}}
    @instantSearch={{this.instantSearch}}
    @searchType={{this.searchType}}
    @searchParameters={{this.searchParameters}}
    @updateQuery={{this.updateQuery}}
    @query={{this.query}}
    @searchMode={{this.searchMode}}
  >
    <:sortBy>
      <ComboBox
        class="search-types"
        @valueProperty="value"
        @content={{this.searchTypes}}
        @value={{this.searchType}}
      />
    </:sortBy>
  </SearchContainer>
{{else if (eq this.searchType "chat_messages")}}
  <SearchContainer
    @apiData={{this.apiData}}
    @instantSearch={{this.instantSearch}}
    @searchType={{this.searchType}}
    @searchParameters={{this.searchParameters}}
    @updateQuery={{this.updateQuery}}
    @query={{this.query}}
    @searchMode={{this.searchMode}}
  >
    <:sortBy>
      <ComboBox
        class="search-types"
        @valueProperty="value"
        @content={{this.searchTypes}}
        @value={{this.searchType}}
      />
    </:sortBy>
  </SearchContainer>
{{else if (eq this.searchType "users")}}
  <SearchContainer
    @apiData={{this.apiData}}
    @instantSearch={{this.instantSearch}}
    @searchType={{this.searchType}}
    @searchParameters={{this.searchParameters}}
    @updateQuery={{this.updateQuery}}
    @query={{this.query}}
    @searchMode={{this.searchMode}}
  >
    <:sortBy>
      <ComboBox
        class="search-types"
        @valueProperty="value"
        @content={{this.searchTypes}}
        @value={{this.searchType}}
      />
    </:sortBy>
  </SearchContainer>
{{/if}}